:root {
    --gray: #7E7E7E;
    --lightGray: #cac9c9;
    --darkGray: #333333;
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--darkGray);
}

h2 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--gray);
}

.fx_direct_column {
    flex-direction: column;
}

.wrapper {
    width: 90vw;
    padding-top: 4%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.25rem;
    color: var(--gray);
    letter-spacing: -0.1px;
}

.container {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.main_info_wrapper {
    border-bottom: 1px solid var(--lightGray);
}

.article_wrapper {
    display: flex;
    border-bottom: 1px solid var(--lightGray);
    padding: 2% 0;
}

.no_border {
    border: none;
}

img {
    width: 100%;
    height: 100%;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
}

.main_wrapper .text_wrapper {
    padding: 1% 0 0 3%;
}

.text_wrapper p {
    margin-top: 4%;
}

.extra_main_info_wrapper_desktop {
    display: none;
}

.text_wrapper ul {
    padding-top: 4%;
}

.text_wrapper ul li {
    display: inline-block;
}

.text_wrapper ul>li {
    margin-right: 6px;
    margin-top: 4px;
    padding-right: 6px;
    border-right: 1px solid #dbdbdb;
}

.text_wrapper ul>li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.text_wrapper ul span img {
    width: 12px;
}

.extra_main_info {
    display: flex;
    padding: 4% 0;
}

.extra_main_info_wrapper a {
    font-weight: bold;
}

.horizontal_article figure {
    width: 40%;
}

.horizontal_article .text_wrapper {
    width: 60%;
    padding-left: 1%;
}

.title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_wrapper>div {
    width: 59%;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    h1 {
        font-size: 1.5em
    }
    h2 {
        font-size: 1.3em;
    }
    figure img {
        height: 100%;
    }
    .text_wrapper {
        padding: 1%;
    }
    .text_wrapper p {
        margin-top: 1%;
    }
    .text_wrapper ul {
        padding-top: 1%;
    }
    .text_wrapper ul {
        flex-direction: column;
        padding: 0;
        font-size: .9em;
    }
    .text_wrapper ul>li {
        margin: 0;
        padding: 0;
        border: none;
    }
    .extra_main_info_wrapper {
        display: none;
    }
    .extra_main_info_wrapper_desktop {
        margin-top: 2%;
        display: block;
        font-weight: bold;
    }
    .grid_3_columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3%;
    }
    .main_wrapper .article_wrapper {
        flex-direction: row;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    .main_wrapper .article_wrapper .extra_main_info_wrapper_desktop li {
        display: block;
    }
    .article_wrapper {
        flex-direction: column;
    }
    .horizontal_article figure,
    .horizontal_article .text_wrapper {
        width: 100%;
    }
    .no_paragraph_article_wrapper {
        display: none;
    }
    .grid_4_columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 3%;
    }
}